* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.novacobrancas {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background: #ffffff;
}

.novacobrancas .corpo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 72px;
}

.novacobrancas .centro {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 100px;
  min-width: 958px;
}
.novacobrancas .criar-cobranca {
  display: flex;
  flex-direction: column;
  min-width: 958px;
}

.criar-cobranca h1 {
  text-align: left;
}

.centro form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.centro form > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centro form > label > select {
  width: 512px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #374952;
  border-radius: 8px;
}
.centro form > label > textarea {
  width: 512px;
  background: #ffffff;
  border: 1px solid #374952;
  border-radius: 8px;
}

.centro .number {
  width: 184px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #374952;
  border-radius: 8px;
  margin-right: 50px;
}
.centro .calendarioAntd {
  background: #ffffff;
  border: 1px solid #374952;
  border-radius: 8px;
}

.centro label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 32px;
}

.centro div > form > .div1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.centro form .botoes {
  display: flex;
  justify-content: center;
  min-width: 958px;
}

.centro form .cancelar {
  width: 226px;
  height: 39px;
  background: white;
  border-radius: 20px;
  border: 1px solid #da0175;
  color: #da0175;
  font-weight: bold;
  margin: 30px;
}

.centro form .criar {
  width: 226px;
  height: 39px;
  background: rgba(218, 1, 117, 0.35);
  border-radius: 20px;
  color: white;
  margin: 30px;
  font-weight: bold;
  border: none;
}

.botoes .criar:active {
  background-color: #da0175;
}
