@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background: #ffffff;
}

.corpo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-left: 72px;
}

.conta {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.principal-home {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 64px;
}

.principal-home .botoes {
  border-bottom: 1px solid #263238;
  width: 100%;
  display: flex;
  align-items: flex-start;

  margin-right: 166px;
}

.principal-home .botoes > button {
  width: 104px;
  background: none;
  color: #263238;
  margin-bottom: 0;
  padding: 0;
  border-radius: 0;
}
.principal-home .botoes > button:focus {
  border-bottom: 3px solid #263238;
  outline: none;
}

.quadros-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
